{% extends 'base.html.twig' %}
{% block title 'Ma Super Agence' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Ma super agence</h1>
    </div>


    <div class="container">
        <h2>Les derniers bien</h2>
        <div class="row flex"></div>
        {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show', {id: property.id, slug: property.slug})}}">{{ property.title }}</a>
                    </h5>
                    <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                    <div class="text-primary" style="font-weight : bold; font-size: 2em;">{{ property.formattedPrice}} .- </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}